<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset='utf-8'/>
    <title>Error Page</title>
    <style> 
    
    
    p {
        text-align: center;
        width: 50%;
        margin: auto;
    }

    h1 {
        text-align: center;
        font: bold serif;
    }

  </style> 
</head>

<body>
    <header>
        <h1>Error</h1><br>
    </header>

    
    {% block content %}
        <div>
            <p>{{ msg }}</p><br>
            <p>If this error persists, please contact <a href="mailto:canvas@ucsd.edu">canvas@ucsd.edu</a> for assistance.</p>
            <p><a href="grade_overview">Return to overview.</a></P>
        </div>
    {% endblock content %}

    <footer></footer>
</body>
</html>