{% extends 'base.htm.j2' %}
{% block content %}

<form method="POST" action="#">
   Submit grades for course id {{ course_id }}
   <input type="submit" value="Submit">
  </form>


{% endblock content %}