{% extends 'base.htm.j2' %}
{% block content %}

<div>
    <ul>
      <li><a href="/upload_grades">Upload datahub submission grades</a></li>
      <li>Other menu items (?) </li>
    </ul>
</div>
{% endblock content %}