{% extends 'base.htm.j2' %}
{% block content %}

<div>
    <p><a href="/upload_grades">upload_grades</a>
    <p>{{msg}}</p>
    <p><img src={{ url_for('static', filename='img/example.jpg') }} alt="Example image" />
</div>

{% if all_courses != None %}
<h2>Courses:</h2>
<ul>
    {% for course in all_courses %}
    <li><a href="{{BASE_URL}}courses/{{course.id}}" target="_blank">{{ course.name }}</a></li>
    {% endfor %}
</ul>
{% endif %}


{% if nbgrader %}
<h2>nbgrader:</h2>
<ul>
    {% for assignment in nbgraderdata %}
    <li>{{assignment}}</a></li>
    <ul>
        {% for grade_data in assignment %}
        <li>{{grade_data}}</a></li>
        <ul>
            {% for studentid in grade_data %}
            <li>{{studentid}} {{studentid.posted_grade}}</a></li>
            {% endfor %}
        </ul>
        {% endfor %}
    </ul>
    {% endfor %}
</ul>
{% endif %}

{% endblock content %}