{% extends 'base.htm.j2' %}

<!-- Scripts for overview page -->
{%- block head -%}

  <!-- set base_url variable -->
  <script> var base_url = "{{ base_url }}"; </script>

  <style> 
    
    /* align text in tables with columns */
    select {
        text-align-last:center;
    }

    /* round the upload button */
    .uploadbtn {
      border-radius: 7px;
      border: 0.75px solid;
    }

    /* round the dropdown menu */
    .canvas_assign {
      border-radius: 7px;
      border: 0.75px solid;
    }

    /* styling for text color */
    .blackText {
        color:black;
        font-weight:bold;
    }

    .redText {
        color:red;
    }

    .greenText {
        color:green;
    }

    .br {
        display: block;
        margin-bottom: 0.5em;
    }

  </style> 

{%- endblock -%}

<!-- Title of page -->
{%- block title -%}
Grading Overview
{%- endblock -%}

<!-- Display sidebar with highlighting for current section -->
{%- block sidebar -%}
<li role="presentation" class="active"><a href="{{ base_url }}/grade_overview">Grading Overview</a></li>
<!-- <li role="presentation"><a href="{{ base_url }}/grade_assignments">Grade Assignments</a></li> --> <!-- Not necessary anymore -->
<li role="presentation"><a href="{{ base_url }}/grade_students">Grade Students</a></li>
{%- endblock -%}

<!-- Create bar across page -->
{%- block breadcrumbs -%}
<ol class="breadcrumb">
  <li class="active">Overview</li>
</ol>
{%- endblock -%}

<!-- Block for messages (if needed) -->
{%- block messages -%}
{% if progress %}
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            Upload Status (click to expand)
          </a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
          <ul>
            <li>{{ progress.tag }}</li>
            <li>Created: {{ progress.created_at }}</li>
            <li>Last updated: {{ progress.updated_at }}</li>
            <li>Details: {{ progress.message }}</li>
            <li>Percent completed: {{ progress.completion }}</li>
            <li>Workflow state: {{ progress.workflow_state }}</li>
            <li>Results: {{ progress.results }}</li>
            <li>Progress update url: <a href="{{ progress.url }}">{{ progress.url }}</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endif %}
{%- endblock -%}

<!--
  Create the header with nbgrader assignments, assignment relation with
  Canvas, and upload details to Canvas
-->
{%- block table_header -%}
<tr>
  <th class="text-center">Nbgrader Assignment</th>
  <th class="text-center">Canvas Assignment</th>
  <th class="text-center">Upload Grades to Canvas</th>
</tr>
{%- endblock -%}

<!--
  Create rows in the table.
  Each row contains the nbgrader assignment name, options for assignment within
  in Canvas, and a status indicator of the assignment to Canvas
-->
{%- block table_body -%}
  {# {% for assignment in nb_assign %} #}
  {% for name,match in db_matches.items() %}
  <tr>
    <td class="text-center" style="vertical-align: middle">{{name}}</td>
    <td class="text-center" style="vertical-align: middle">

    {% if match %}
      <!-- create dropdown menu of unselectable assignmets in Canvas -->
      <select class="canvas_assign"> 
        <option value="match" selected="selected">{{cv_assign[match.canvas_id]}}</option>
        {% for name in cv_assign.values() %}
          <!-- list the canvas assignments -->
          <option value="assignment" disabled=True>{{name}}</option>
        {% endfor %}
    {% else %}
      <select class="canvas_assign"> 
        <!-- default option if no matching assignment found -->
        <option value="create" selected="selected">Create Canvas Assignment </option>
        {% for name in cv_assign.values() %}
          <!-- list the canvas assignments -->
          <option value="assignment">{{name}}</option>
        {% endfor %}
      {% endif %}
      </select>
    </td>

    <!-- display the upload button -->
    {# <td class="text-center" style="vertical-align: middle"><button class="uploadbtn">Upload Grades</button> #}
    <td class="text-center" style="vertical-align: middle">
    <input type="submit" class="uploadbtn" name="submit_button" name={{name}} value="Upload Grades" />
    <input type="hidden" name="form_nb_assign_name" value={{name}} />
    
    <!-- TO DO == Need to implement status bar -->    

    <span class="br"></span>
    {% if match %}
      <span class="blackText">Status:</span>&nbsp;<span class="greenText"><em>{{match.status}}</em></span>
    {% else %}
      <span class="blackText">Status:</span>&nbsp;<span class="redText"><em>No match found</em></span>
    {% endif %}
    </td>
  </tr>
  {% endfor %}
{%- endblock -%}

<!-- Final line under all rows -->
{%- block table_footer -%}
  <tr>
      <td colspan="3"></td>
  </tr>
{%- endblock -%}
