{% extends 'base.htm.j2' %}
{% block content %}

<h2>Upload datahub nbgrader grades to Canvas</h2>
<div>
<button type="button">Click to upload grades</button>
</div>

<!-- add js to reload page every 5 seconds with progress update
note progress.results omitted when job stil pending -->
{% if progress %}
<h2>Status</h2>
<ul>
    <li>{{ progress.tag }}</a></li>
    <li>Created: {{ progress.created_at }}</a></li>
    <li>Last updated: {{ progress.updated_at }}</a></li>
    <li>Details: {{ progress.message }}</a></li>
    <li>Percent completed: {{ progress.completion }}</a></li>
    <li>Progress update url: {{ progress.url }}</a></li>
</ul>
{% endif %}

{% endblock content %}