{% extends 'base_grades.htm.j2' %}

<!-- Scripts for overview page -->
{%- block head -%}

  <!-- set base_url variable -->
  <script> var base_url = "{{ base_url }}"; </script>

  <style> 
    
    /* align text in tables with columns */
    select {
        text-align-last:center;
    }

    /* round the upload button */
    .uploadbtn {
      border-radius: 7px;
      border: 0.75px solid;
    }

    /* round the dropdown menu */
    .canvas_assign {
      border-radius: 7px;
      border: 0.75px solid;
    }

    /* styling for text color */
    .blackText {
        color:black;
        font-weight:bold;
    }

    .redText {
        color:red;
    } 
    
    .greenText {
        color:green;
    }

    .br {
        display: block;
        margin-bottom: 0.5em;
    }

  </style> 

{%- endblock -%}

<!-- Title of page -->
{%- block title -%}
Grading Overview
{%- endblock -%}

<!-- Display sidebar with highlighting for current section -->
{%- block sidebar -%}
<li role="presentation" class="active"><a href="{{ base_url }}/upload_grades">Grading Overview</a></li>
<!-- <li role="presentation"><a href="{{ base_url }}/grade_assignments">Grade Assignments</a></li> --> <!-- Not necessary anymore -->
<li role="presentation"><a href="{{ base_url }}/grade_students">(TODO) Grade Students</a></li>
{%- endblock -%}

<!-- Create bar across page -->
{%- block breadcrumbs -%}
<ol class="breadcrumb">
  <li class="active">Overview</li>
</ol>
{%- endblock -%}

<!-- Block for messages (if needed) -->
{%- block messages -%}

<!-- TODO: styling -->
{% if progress %}
<h4>Upload Status</h4>
<ul>
    <li>{{ progress.tag }}</li>
    <li>Created: {{ progress.created_at }}</li>
    <li>Last updated: {{ progress.updated_at }}</li>
    <li>Details: {{ progress.message }}</li>
    <li>Percent completed: {{ progress.completion }}</li>
    <li>Workflow state: {{ progress.workflow_state }}</li>
    <li>Results: {{ progress.results }}</li>
    <li>Progress update url: <a href="{{ progress.url }}">{{ progress.url }}</a></li>
</ul>
{% endif %}
{%- endblock -%}

<!--
  Create the header with nbgrader assignments, assignment relation with
  Canvas, and upload details to Canvas
-->
{%- block table_header -%}
<tr>
  <th class="text-center">Nbgrader Assignment</th>
  <th class="text-center">Canvas Assignment</th>
  <th class="text-center">Upload Grades to Canvas</th>
</tr>
{%- endblock -%}


<!--
  Create rows in the table.
  Each row contains the nbgrader assignment name, options for assignment within
  in Canvas, and a status indicator of the assignment to Canvas
-->

{%- block table_body -%}
  {% for nb_assignment in nb_assign %}
  <tr>
    <form action = "" method = "POST">
    <td class="text-center" style="vertical-align: middle">
    {{nb_assignment.name}}
    </td>
    
    <!-- create dropdown menu of assignments in Canvas -->
    <td class="text-center" style="vertical-align: middle">
      <select name="form_canvas_assign_name" class="canvas_assign"> 

      <!-- default option if no matching assignment found -->
      <option value="create">Create Canvas Assignment </option>
      {% for cv in cv_assign['name'] %}
        <!-- choose matching assignment if it exists (need to match on id here, not name?) -->
        {% if nb_assignment.name == cv %}
          <option value="{{cv}}" selected="selected">{{cv}}</option>
        {% else %}
          <option value="assignment">{{cv}}</option>
        {% endif %}
      {% endfor %}
      </select>
    </td>

    <!-- display the upload button -->
    <td class="text-center" style="vertical-align: middle">
    <input type="submit" class="uploadbtn" name="submit_button" name={{nb_assignment.name}} value="Upload Grades"</input>
    <input type="hidden" name="form_nb_assign_name" value={{nb_assignment.name}} />

    <!-- display status -->    

    <span class="br"></span>
    <span class="blackText">Status: </span>&nbsp;<span id="{{nb_assignment.name}}_status" class="blackText"></span>
    </td>
  </form>
  </tr>
  {% endfor %}
{%- endblock -%}
</form>

<!-- Final line under all rows -->
{%- block table_footer -%}
  <tr>
      <td colspan="3"></td>
  </tr>
{%- endblock -%}



{% block script %}
<script> 
setInterval(function(){
  // TODO: update status of any queued/running assignment submissions
  // TODO: cancel the settimeout loop if none in queued/running
  //var url = '{{ progress.url }}';

  var call_clear_interval = 0;

  // TODO: change this to a json array of urls where status is queued/running, and loop over them
  // TODO: call clearInterval() if array length=0 
  var url = '{{ upload_progress_url }}'; // 'https://ucsd.test.instructure.com/api/v1/progress/1355408';
  var assignment = '{{ upload_progress_assignment }}';
  console.log('url: ' + url);
  console.log('assignment: ' + assignment);

  $.getJSON(url, function(data) {        
        console.log('data: ' + data);
        console.log('data.workflow_state: ' + data.workflow_state);
        $('#' + assignment + '_status').text(data.workflow_state);
        //if (data.workflow_state == 'completed' || data.workflow_state == 'failed') {
        //   console.log ('no running submissions, exit interval loop');
        //   clearInterval();          
        //}
    });
}, 5000);

</script>
{% endblock %}